VITE_FB_API_KEY=AIzaSyDFM9TFISf3SFBkzpy7uF-SrjhUL-Lcwnc
VITE_FB_AUTH_DOMAIN=mini-hackathon-b1769.firebaseapp.com
VITE_FB_PROJECT_ID=mini-hackathon-b1769
VITE_FB_APP_ID=1:160875226767:web:c0bd1d1c90e6dde645b2fa